# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [5]:
poke = {'evolution':[ 'Ivysaur','Charmeleon', 'Wartortle','Metapod'],
       'hp': [45, 39, 44, 45], 
       'name':['Bulbasaur', 'Charmander','Squirtle', 'Caterpie'], 
       'pokedex': ['yes', 'no', 'yes', 'no'], 
       'type': ['gass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called pokemon

In [8]:
pokemon = pd.DataFrame(poke)
pokemon.head()

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes   gass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [14]:
pokemon=pokemon.reindex(['name', 'type', 'hp', 'evolution', 'pokedex'], axis= 1)
pokemon.head()

         name   type  hp   evolution pokedex
0   Bulbasaur   gass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [16]:
pokemon['place'] = ['NY', 'london', 'Cairo', 'india']
pokemon.head()

         name   type  hp   evolution pokedex   place
0   Bulbasaur   gass  45     Ivysaur     yes      NY
1  Charmander   fire  39  Charmeleon      no  london
2    Squirtle  water  44   Wartortle     yes   Cairo
3    Caterpie    bug  45     Metapod      no   india

### Step 6. Present the type of each column

In [21]:
print(type(pokemon.name), 'name ',type(pokemon.name[0]) )
print(type(pokemon.type), 'type ',type(pokemon.type[0]) )
print(type(pokemon.hp), 'hp ',type(pokemon.hp[0]) )
print(type(pokemon.evolution), 'evolution ',type(pokemon.evolution[0]) )
print(type(pokemon.pokedex), 'pokedex ',type(pokemon.pokedex[0]) )
print(type(pokemon.place), 'place ',type(pokemon.place[0]) )

<class 'pandas.core.series.Series'> name  <class 'str'>
<class 'pandas.core.series.Series'> type  <class 'str'>
<class 'pandas.core.series.Series'> hp  <class 'numpy.int64'>
<class 'pandas.core.series.Series'> evolution  <class 'str'>
<class 'pandas.core.series.Series'> pokedex  <class 'str'>
<class 'pandas.core.series.Series'> place  <class 'str'>

### BONUS: Create your own question and answer it.