# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:

df = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [4]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo= df

### Step 4. See the first 10 entries

In [8]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [11]:
# Solution 1

chipo.shape[0]

4622

In [10]:
# Solution 2

len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [11]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [12]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [13]:
ind= chipo.index
ind

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [8]:
chipo['item_name'].value_counts().index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [9]:
chipo['item_name'].value_counts()[0]

726

### Step 11. What was the most ordered item in the choice_description column?

In [20]:
chipo['item_name'].value_counts().index[0]

'Chicken Bowl'

### Step 12. How many items were orderd in total?

In [17]:
sum(chipo['choice_description'].value_counts())

3376

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [27]:
df['item_price'].dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [18]:
chipo["item_price"]=chipo["item_price"].apply(lambda x:float(x[1:]))

In [37]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,[2.39]
1,1,1,Izze,[Clementine],[3.39]
2,1,1,Nantucket Nectar,[Apple],[3.39]
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,[2.39]
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",[16.98]
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",[11.75]
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",[11.75]
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",[11.25]
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",[8.75]
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",[8.75]

#### Step 13.c. Check the item price type

In [28]:
df['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [35]:
df['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [15]:
len(chipo.order_id.value_counts())

1834

### Step 16. What is the average revenue amount per order?

In [37]:
# Solution 1
chipo.item_price.groupby(chipo.order_id).mean()

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [40]:
# Solution 2

### Step 17. How many different items are sold?

In [16]:
len(chipo['item_name'].value_counts())

50