# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [3]:
import numpy as np 
import random

import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [16]:
#Generate 5 random numbers between 10 and 30
df1, df2, df3 = [] ,[],[]
for i in range (100): 
    df1.append(random.randint(1,4))
    df2.append(random.randint(1,3))
    df3.append(random.randint(10000,30000))
df1=  pd.Series(df1, name= 'df1')
df2=  pd.Series(df2,name= 'df2')
df3=  pd.Series(df3, name= 'df3')

### Step 3. Let's create a DataFrame by joinning the Series by column

In [18]:
df = pd.concat([df1, df2, df3], axis=1)

df

    df1  df2    df3
0     3    2  17908
1     4    1  21463
2     4    2  25970
3     3    1  24659
4     4    3  21207
..  ...  ...    ...
95    1    1  18584
96    2    1  25543
97    2    2  27389
98    1    2  11801
99    2    3  12940

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [22]:
df.rename(columns= {"df1": "bedrs" , "df2": "bathrs" , "df3": "price_sqr_meter"}, inplace= True )
df

    bedrs  bathrs  price_sqr_meter
0       3       2            17908
1       4       1            21463
2       4       2            25970
3       3       1            24659
4       4       3            21207
..    ...     ...              ...
95      1       1            18584
96      2       1            25543
97      2       2            27389
98      1       2            11801
99      2       3            12940

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [27]:
bigcolumn =  pd.concat([df1, df2, df3], axis=0)
bigcolumn

0         3
1         4
2         4
3         3
4         4
      ...
95    18584
96    25543
97    27389
98    11801
99    12940
Length: 300, dtype: int64

### Step 6. Oops, it seems it is going only until index 99. Is it true?

* no, the data frame column is indexed from 0 - 99 3 times

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [29]:
bigcolumn.reset_index(drop= True , inplace= True )
bigcolumn

0          3
1          4
2          4
3          3
4          4
       ...
295    18584
296    25543
297    27389
298    11801
299    12940
Length: 300, dtype: int64